body {
    background-color:#52bcda;
    margin: 0 auto;
    width: 600px;
}

h1 {
    color: #c72118;
}

h2 {
    color: rgb(232, 156, 14);
}

a {
    color: green;
}

ul {
    list-style-type: square;
}

.big_text {
    font-size: 1.5rem;
    font-family: "TeddyBear", sans-serif;
}

@font-face {
    font-family: "TeddyBear";
    src: url("./fonts/teddy-bear.ttf");
}

img {
    width:300px;
}

a:hover {
    color: #c72118;
}